<!DOCTYPE html>
<html>
  <head>
    <title>DRadio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
                    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
            <!-- <script src="https://webrtc.github.io/adapter/adapter-4.2.2.js"></script> -->

  </head>

  <body >
    <%= yield %>
  <%= javascript_include_tag 'application_postyield' %>

  </body>
</html>
